.deposit-form{
    background-color: #6C757D;
    /* height: 300px;
    width: 300px; */
    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;

}
.deposit-title{
    margin: 20px 10px;
    color: white;
}

input{
    padding: 3px 10px;
    border-radius: 4px;
    border-style: none;
    margin: 7px 10px;
}
.deposit-button{
    padding: 5px 7px;
    background-color: white;
    color: black;
    border-style: none;
    border-radius:5px;
    margin-top: 6px;
}
li{
    font-size: 12px;
}